#darkcyan{
    background-color: darkcyan;
    border: 10px solid;
    padding: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin: 10px;
    margin-bottom: 0px;
    height: 190px;
    width: 190px;
}
#goldenrod{
    background-color: goldenrod;
    height: 170px;
    width: 170px;
    border: 20px solid;
    border-left: 10px solid;
    border-right: 10px solid;
    border-bottom: 20px solid;
    margin-left: 260px;
    
}
#indianred{
    background-color: indianred;
    margin-top:0px;
    margin-left: 80px;
    margin-bottom: 20px;
    border: 10px solid;
    height: 160px;
    width: 160px;
}